.section {
    display: grid;
    grid-template-rows: auto minmax(50px, 1fr);
    grid-gap: 5px;
}

.section__layout {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 0 0 15px;
    background-color: white;
}

@media (max-width: 767px) {
    .section__layout {
        grid-template-columns: 1fr;
    }
}

.section__body {
    padding: 20px;
    background-color: white;
}